@font-face {
    font-family:'NanumGothic';
    src: url('../img/fonts/NanumGothic.eot');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'MalgunGothic', '맑은고딕', 'NanumGothic';
	/*font-family: 'MalgunGothic';*/
	font-size: 13px;
	color: #444;
}

a { color: #444; }
a:hover { color: green; text-decoration: underline; }

.tbl_wrap table {
    /*그누보드 게시판에서 사용되는 테이블*/
	font-size: 0.85em;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sidebar {
	text-align: center;
}

.mainBox {
	padding: 40px;
}
.wire { border: 1px solid red; }

footer {
	padding:20px;
	background-color: #EEE;
}