.section_vert .main { margin-left: 0px; margin-right: 0px; padding: 5px 0px;}
.section_vert .main .img_main { position: relative }
.section_vert .main .img_main .tit_board { display: block; position: absolute; top: 0; left: 10px; padding: 5px 10px; background: #f84e32; color: #FFF; font-weight: bold }
.section_vert .main .txt_main { color: #a1a3b2; padding: 5px 15px; }
.section_vert .main .txt_main .cmt { position: absolute; right: 30px; font-weight: bold }
.section_vert .main .txt_main .cmt .ico_heart { display: inline-block; padding-right: 3px; color: #F00 }
/*.section_vert .main .desc_main { color: #a1a3b2; font-size:0.85em; padding-top:8px; margin-top:3px; border-top: 1px solid #eee;  }*/
.section_vert .main .txt_main p { padding-left: 15px; color: #a1a3b2; font-size: 0.85em; padding-top: 8px; margin: 5px 0px; border-top: 1px solid #eee;  }
.section_vert .main .desc_main a:link, .section_vert .main .desc_main a:visited { color: #a3969e;  }

.section_vert .sub { margin-left: 0px; margin-right: 0px; }
.section_vert .sub ul { padding: 0; padding-left: 15px; list-style: none }
.section_vert .sub ul li:after { visibility: hidden; content: ""; display: block; clear: both }
.section_vert span.glyphicon { color: darkgreen; }
.section_vert .sub ul .lst { padding-bottom: 0 }
.section_vert .sub .stamp { position: absolute; right: 30px; color: #666; }

.section_vert .date { position: absolute; right: 40px; color: #a1a3b2; font-size: 0.85em;} 
