
<footer>
    <div class="container" style="text-align:center;">
    늘푸른교회 5002 Caswell Ave. Austin, TX 78751 <br/>
    Phone : 512-270-9191 | E-mail : austinevergreenchurch@gmail.com<br/>
    Copyright (c) 2010 늘푸른교회 All right reserved.<br/>
    </div>
</footer>


<!-- 그누보드 게시판에 관련된 페이지는 G5에 제공된 jQuery 이용 - Jiho -->
<?php if (! isset($board['bo_table'])) { ?>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<?php } ?>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


<div id="dialog" title="WebDev Links">
    News / board new posts <br/>
    Development
    <ul>
        <li>
            <a href="./g5/bbs/board.php?bo_table=webdev">WebDev 게시판</a>,
            <a href="./g5/bbs/board.php?bo_table=web_maintenance">Web Maintenance</a>
        </li>
        <li>
            <a href="./dev/Evergreen-mockup.pdf" target="_blank">Mockup</a>, 
            <a href="./dev/SiteMap_v_1_0.pdf" target="_blank">Sitemap v 1.0</a>
        </li>
        <li><a href="https://my.hostmonster.com/hosting/account" target="_blank">Hostmonster account</a></li>
        <li>
            <a href="http://evergreenchurchaustin.org/wp/wp-admin">Wordpress admin</a>
            <a href="http://evergreenchurchaustin.org/g5/adm">GnuBoard admin</a>
        </li>
        <li><a href="phpinfo.php">phpinfo()</a></li>
    </ul>
    Prototypes
    <ul>
        <li><a href="http://www.evergreengospel.org/">Original 늘푸른교회</a></li>
        <li><a href="http://yeram.or.kr/">동래중앙교회</a></li>
        <li><a href="http://kmchurch.or.kr/">광명교회</a></li>
        <li><a href="http://sm-church.org/">성문교회</a></li>
    </ul>
</div>

<!-- jQuery Scripts -->
<script>
$(function() {
$( "#dialog" ).dialog({
  autoOpen: false,
  show: {
    effect: "blind",
    duration: 800
  },
  hide: {
    effect: "explode",
    duration: 800
  },
  width: 500,

}).css( "background-color", "antiquewhite" );

$( "#opener" ).click(function() {
  $( "#dialog" ).dialog( "open" );
});

});
</script>
