<?php
ini_set('display_errors',1); 
error_reporting(E_ALL);

//include_once($_SERVER['DOCUMENT_ROOT'] . '/g5/common.php');
?>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Evergreen Church</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <?php 
        if ($is_member) {
          if ($is_admin) {
            echo '<li><a href="' . G5_ADMIN_URL . '">관리자</a></li>';
          }
          echo '<li><a href="' . G5_BBS_URL . '/member_confirm.php?url=' . G5_BBS_URL . '/register_form.php">정보수정</a></li>';
          echo '<li><a href="' . G5_BBS_URL . '/logout.php?url=/">로그아웃</a></li>';
        } else {
          echo '<li><a href="' . G5_BBS_URL . '/register.php">회원가입</a></li>';
          echo '<li><a href="' . G5_BBS_URL . '/login.php?url=' . $REQUEST_URI . '">로그인</a></li>';
        }
        ?>
        <li><a href="#" id="opener">Dev Links</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
